html {
    background: url(bat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    height: 120px;
    margin-top: 150px;
}

.key {
    border: 4px solid black;
    border-radius: 5px;
    margin: 10px;
    font-size: 15px;
    padding: 10px 5px;
    transition: all 0.07s ease;
    width: 100px;
    text-align: center;
    color: rgb(160, 136, 84);
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0 0 5px black;
}
kbd {
    display: block;
    font-size: 40px;
}

.sound {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffffd7;
}
.playing {
    transform: scale(1.1);
    border-color: #610909;
    box-shadow: 0 0 10px #ff0000;
}

h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family : "Chalkduster, fantasy";
    color: rgb(185, 185, 205);
}

p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family : "Times New Roman", Times, serif;
    color: rgb(185, 185, 205);
    margin-top: 100px;
}